<section class="container">
	<div class="row">
		<div class="col-md-6" ng-repeat="info in vm.info track by $index">
			<md-card>
				<md-card-title layout-align="center">
					<md-card-title-text>
						<span class="md-headline" ng-bind="::info.name"></span>
						<div layout layout-align="space-between start">
							<span class="md-subhead" ng-bind="::info.date"></span>
							<md-button class="md-raised md-primary">
								View <span class="md-subhead" ng-bind="::info.count"></span>
							</md-button>
						</div>
					</md-card-title-text>

				</md-card-title>
			</md-card>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<md-content class="md-whiteframe-1dp md-padding md-margin white">
				<div class="row">
					<div class="col-md-8">
						<div style="min-height: 300px;">
							<chartist data="vm.data" options="vm.options" type="vm.type"></chartist>
						</div>
					</div>
					<div class="col-md-4">
						<md-list>
							<md-list-item ng-click="p()" ng-repeat="n in [1, 2, 3, 4]">
								<p>Some Button</p>
							</md-list-item>
						</md-list>
					</div>
				</div>
			</md-content>
		</div>
	</div>

	<div layout flex>
		<md-card flex class="md-whiteframe-1dp md-padding md-margin white" ng-repeat="n in [1, 2]">
			<md-card-title>
				<md-card-title-text>
					<p class="md-headline">Some Heading</p>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-content>
					<md-list>
						<md-list-item ng-repeat="o in [1, 2, 3, 4, 5, 6]">
							<span class="md-list-item-text">Some Content</span>
							<md-button class="md-secondary">Some Button</md-button>
						</md-list-item>
					</md-list>
				</md-content>
			</md-card-content>
		</md-card>
	</div>
</section>