<section class="container">
	<div class="row">
		<div class="col-md-6" ng-repeat="info in vm.info track by $index">
			<md-card>
				<md-card-title layout-align="center">
					<md-card-title-text>
						<span class="md-headline" ng-bind="::info.name"></span>
						<div layout layout-align="space-between start">
							<span class="md-subhead" ng-bind="::info.date"></span>
							<md-button class="md-raised md-primary">
								View <span class="md-subhead" ng-bind="::info.count"></span>
							</md-button>
						</div>
					</md-card-title-text>

				</md-card-title>
			</md-card>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<md-content class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;">
					
				</div>

				<div class="md-padding">
					<md-button class="md-primary">Some Button</md-button>
					<md-button class="md-primary">Some Button</md-button>
					<md-button class="md-primary">Some Button</md-button>
					<md-button class="md-primary">Some Button</md-button>
				</div>
			</md-content>
		</div>
	</div>

	<div layout flex>
			<md-content flex class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;"></div>
			</md-content>

			<md-content flex class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;"></div>
			</md-content>
	</div>
</section>