<section class="container">
    <div class="row">
		<div class="col-md-12">
			<md-content class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;"></div>
			</md-content>
		</div>

		<div class="col-md-12">
			<md-content class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;"></div>
			</md-content>
		</div>

        <div class="col-md-12">
			<md-content class="md-whiteframe-1dp md-padding md-margin white">
				<div style="min-height: 300px;"></div>
			</md-content>
		</div>

	</div>
</section>