<div data-ng-controller="AuthenticationController">
	<!--<h3 class="col-md-12 text-center">Or sign up using your email</h3>-->
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<div layout>
        <md-input-container style="width: 100%">
				<label for="firstName">First Name</label>
				<input type="text" required id="firstName" name="firstName" data-ng-model="credentials.firstName">
			</md-input-container>

			<md-input-container style="width: 100%">
				<label for="lastName">Last Name</label>
				<input type="text" id="lastName" name="lastName" data-ng-model="credentials.lastName">
			</md-input-container>
      </div>

			<md-input-container style="width: 100%">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" data-ng-model="credentials.email">
			</md-input-container>

			<md-input-container style="width: 100%">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" data-ng-model="credentials.username">
			</md-input-container>

			<md-input-container style="width: 100%">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" data-ng-model="credentials.password">
			</md-input-container>

			<md-input-container style="width: 100%" layout layout-align="center center">
				<md-button type="submit" class="md-raised md-primary">Sign up</md-button> or
				<md-button data-ui-sref="authentication.signin" class="md-raised">Sign in</md-button>
			</md-input-container>

			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</div>