.content {
  margin-top: 64px;
}

html,
body {
  background-color: #ededed;
}
.undecorated-link:hover {
  text-decoration: none;
}
.jumbotron {
  background-color: teal;
  border-radius: 0 !important;
  color: #fff;
  margin-bottom: 0;
  height: 400px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.white {
  background-color: #fff;
}

.navbar-fixed-top {
  z-index: 10 !important;
}

.section {
  background-color: #fff;
  position: relative;
}

.section--block {
  min-height: 60vh;
}

.icon {
  padding: 0 10%;
}
.icon__icon {
  font-size: 10em;
  text-align: center;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 1rem;
}

.extra-padding {
  padding: 100px 0;
}

.color-inverse {
  background-color: whitesmoke;
}

.content-image,
.content-image--right {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
}

.content-image--right {
  left: auto;
  right: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}